<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LandiLab4Se426.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <applicationSettings>
        <LandiLab4Se426.Properties.Settings>
            <setting name="LandiLab4Se426_wsStock_StockQuote" serializeAs="String">
                <value>http://www.webservicex.net/stockquote.asmx</value>
            </setting>
            <setting name="LandiLab4Se426_wsfForcast_Weather" serializeAs="String">
                <value>http://wsf.cdyne.com/WeatherWS/Weather.asmx</value>
            </setting>
            <setting name="LandiLab4Se426_WRfootball_FootballService" serializeAs="String">
                <value>http://54.172.157.94/footballwebservice/footballservice.asmx</value>
            </setting>
            <setting name="LandiLab4Se426_wsBanking_BankingService" serializeAs="String">
                <value>http://54.172.157.94/BankWebService/BankService.asmx</value>
            </setting>
        </LandiLab4Se426.Properties.Settings>
    </applicationSettings>
<system.webServer><handlers><remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers></system.webServer></configuration>
